{# ---
permalink: /api/timeline-data.json
eleventyExcludeFromCollections: true
---
{{ timeline | dump | safe }} #}

---
permalink: /api/timeline-data.json
eleventyExcludeFromCollections: true
---
{{ timeline.entries | dump | safe }}